.banner{
  font-size: 13vh;
  z-index: 1;
  text-align: center;
  font-family: 'Syne', sans-serif;
  font-weight: 800;
  position: absolute;
  margin: 0;
  width: 100%;
}

.article-container{
  height: 100vh;
  width: 50%;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
  font-family: 'Syne', sans-serif;
  font-weight: 400;
}

.subArticle-container{
  height: 100vh;
  width: 50%;
  left: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  z-index: 0;
  position: absolute;
  top: 0;
  background-color: white;
  color: black;
  font-family: 'Syne', sans-serif;
  font-weight: 400;
}
.article-div{
  height: 100vh;
  padding:9.5vh 5vh 11vh 22vh;
  grid-area: 2 / 1 / 11 / 5;
  text-align: left;
}
.article-div h1 {
  font-size: 5.5vh;
  font-family: 'Anton', sans-serif;
  margin: 0%;
}
.article-div p {
  font-size: 1vh;
}

.subArticle1 {
  grid-area: 5 / 3 / 2/ 9;
  padding: 6vh 22vh 0vh 3vh;
 }

.subArticle2 {
  grid-area: 8 / 3 / 5/ 9;
  padding: 6vh 22vh 0vh 3vh;
}
.subArticle3 {
  grid-area: 11 / 3 / 8/ 9;
  padding: 6vh 22vh 0vh 3vh;
}
/* .subArticle4 {
  grid-area: 10 / 3 / 8/ 9;
  padding: 5.5vh 22vh 0vh 3vh;
} */

.image1 {
  grid-area: 5 / 1 / 2/ 3;
  padding-top: 5vh;
}
.image2 {
  grid-area: 8 / 1 / 5/ 3;
  padding-top: 5vh;
}
.image3 {
  grid-area: 11 / 1 / 8/ 3;
  padding-top: 5vh;
}
/* .image4 {
  grid-area: 10 / 1 / 8/ 3;
  padding-top: 5vh;
} */
#image{
  width: 100%;
  height: 100%;
  display:block;
}

#subHeader {
  font-size: 2.5vh;
  margin: 0%;
}

#name {
  margin: 3%
}

#timestamp {
  font-size: 2vh;
  font-family: 'Anton', sans-serif;
  margin: 0% 0% 1% 0%;
}

#white{
  color:white;
  margin: 0%;
}

#black{
  color:black;
  margin: 0%;
}
