.form-div{
  width: 100vw;
  height: 100vh;
  /* background: rgb(24, 24, 24); */
  position: absolute;
  /* right: 0px; */
  padding-right: 1rem;
}
body{
  overflow-x: hidden;
}
.form-label{
  /* display: flex; */
  position: relative;
  width: 14rem;
}
.disclaimer{
  position: relative;
  width: 14rem;
  font-size: 1rem;
  line-height: 2.5rem;
}
#form{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2rem 3rem;
  justify-items: center;
  margin-top: 2rem;
  /* position: relative; */
}
#form input{
  padding: 12px 20px;
  width: 14rem;
  height: 3rem;
  font-size: 1rem;
  text-align: center;
}
.form-title{
  margin: auto;
  width: 15rem;
  height: 10rem;
  font-size: 2rem;
}


/* CSS */
.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: auto;
  max-width: 14rem;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}