body{
  font-family: 'Syne', sans-serif;
  font-weight: 400;
  height: 95vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.form-div{
  width: 100vw;
  /* position: absolute; */
  height: 80vh;
}
.form-title {
  margin-top: 5vh;
}
.form-title h1{
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 10vh;
  margin: 0 auto;
}
.disclaimer{
  position: relative;
  width: 25vh;
  font-size: 3vh;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.form-label{
  /* display: flex; */
  position: relative;
  width: 14rem;
  text-align: center;
}

#form{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 4vh;
  justify-items: center;
  margin-top: 2vh;
  /* position: relative; */
}
#form input{
  padding: 12px 20px;
  width: 14rem;
  height: 3rem;
  font-size: 1rem;
  text-align: center;
  border-width: 1px;
}

/* CSS */
.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: auto;
  max-width: 14rem;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  /* overflow: hidden; */
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}

.bannedState {
  background-color:rgb(192 0 0);
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: auto;
  max-width: 14rem;
  min-height: 44px;
  min-width: 10px;
  /* overflow: hidden; */
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  width: 100%;
}